version: '3.8'
services:
  # Serviço da nossa aplicação Node.js
  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
  # Serviço oficial do Redis
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"